body {
    margin: 0;
    padding: 0;
    background-color: #03001C;
}
.tittel {
    display: grid;
    grid-template-columns:40% 40%;
    grid-template-rows: 2%fr 2% 2%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "bilde anders"
      "bilde holthe"
      "bilde stanger";
    background-color: #301E67;
    padding-bottom: 50px;
}
.anders { 
    grid-area: anders; 
    padding-left: 100px;
    padding-top: 50px;
    font-size: 7rem;
    color: white;
    /* background-color: red; */
}
 
.holthe { 
    grid-area: holthe; 
    font-size: 7rem;
    padding-left: 200px;
    color: white;
    /* background-color: blue; */
}

.stanger { 
    grid-area: stanger; 
    font-size: 7rem;
    padding-left: 300px;
    grid-area: stanger;
    color: white;
    /* background-color: green; */
}

.bilde {
    grid-area: bilde;
    padding-top: 5rem;
    margin-left: 10rem;
}

.mellomrom {
    background-color: #03001C;

}